@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card main-card">
        <div class="card-header">
            A Brief Introduction
        </div>
        <div class="card-body">
            <img class="rounded-circle main-picture border-secondary" src="~/images/helpdesk.png">
            <p class="card-text">Welcome to my website! My name is Brent Gerstenschlager (Yes it is in fact of German origin). <br>
                I wanted to create this website to reflect who I am, what I'm good at, and to reflect a bit of my own personality. My goal is 
                to let you understand my capabilities and how I would fit in with your team. Its always good to know who you're hiring after all.
                <br>
                <br>
                Have fun and don't forget to check out the Skill Sets! I put a lot of work into making those.
            </p>
        </div>
    </div>
</div>
